{% extends 'base.html.twig' %}

{% block title %}Tiles index{% endblock %}

{% block body %}
    <h1>Tiles index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Coordinates</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tile in tiles|sort((a, b) => a.coordinates <=> b.coordinates) %}
            <tr>
                <td>{{ tile.id }}</td>
                <td>{{ tile.coordinates }}</td>
                <td>
                    <a href="{{ path('tiles_show', {'id': tile.id}) }}">show</a>
                    <a href="{{ path('tiles_edit', {'id': tile.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('tiles_new') }}">Create new</a>
{% endblock %}
