{% extends 'base.html.twig' %}

{% block title %}Armies index{% endblock %}

{% block body %}
    <h1>Armies index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Color</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for army in armies %}
            <tr>
                <td>{{ army.id }}</td>
                <td>{{ army.name }}</td>
                <td style="background: {{ army.color }};">&nbsp;</td>
                <td>
                    <a href="{{ path('armies_show', {'id': army.id}) }}">show</a>
                    <a href="{{ path('armies_edit', {'id': army.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('armies_new') }}">Create new</a>
{% endblock %}
